.user-products__title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  height: 100px;
  line-height: 100px;
  background-color: $borderColor;
  border-bottom: 1px solid $textColor;
}
.user-products__items {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $textColor;
  &__title {
    font-weight: bold;
    margin-left: 30px;
    &__name{
      display: flex;
      justify-content: left;
      font-size: 20px;
    }
    &__price{
      display: flex;
      justify-content: left;
      h2{
        color: gray;
      }
      span{
        color: gray;
      }
    }
  }
  &__box {
    display: flex;
    &__edit {
      background-color: #0099e8;
      margin-right: 20px;
      border-radius: 4px 4px 4px 4px;
      &__btn {
        display: block;
        width: 80px;
        text-align: center;
        height: 50px;
        line-height: 50px;
        text-decoration: none;
        color: white;
      }
    }
    &__destroy {
      background-color: #0099e8;
      margin-right: 30px;
      border-radius: 4px 4px 4px 4px;
      &__btn {
        display: block;
        width: 80px;
        text-align: center;
        height: 50px;
        line-height: 50px;
        text-decoration: none;
        color: white;
      }
    }
  }
}