.active{
  display: block !important;
}

.selected{
  background-color: #ffffff !important;
  border-top: solid 2px red;
}

.user-menu{

  &__level{
    width: 100%;
    height: 50px;
    padding: 0px 30px;
    line-height: 50px;
    border-top: solid 1px $border-color;

    & a{
      text-decoration: none;
      color: #000000;
    }
  }



  &__main{
    background-color: $border-color;
    padding: 40px 150px;
    display: flex;

    &__list{
      width: 30%;

      &__mypage, &__furipay, &__setting{
          margin-bottom: 20px;
          font-weight: bold;

          &--link{
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            color: #000000  ;
          }
          & li{
            background-color: #ffffff;
            font-size: 15px;
            font-weight: normal;;
            line-height: 45px;
            padding-left: 15px;
            border-bottom: solid 1px $border-color;

          
        }
        &__arrow{
          margin-right: 15px;
        }
      }
    }


    &__contents{
      width: 100%;
      margin-left: 40px;
      background-color: #ffffff;

      &__mypage, &__notice, &__todolist, &__exhibition, &__purchase{
        // マイページ用


        &__user{
          height: 200px;
          background-color: blueviolet;
          display: flex;
          justify-content: center;
          position: relative;
          

          &__image{
            width:100%;
          }

          &__info{  
            text-align: center;
            position: absolute;
            top: 80px;
            
          }
        }  


           
        &__title{
          height: 80px;
          line-height: 80px;
          font-weight: bold;
          margin-left: 10px;
        }

        &--tab{
          @include set_tab_menu();
        }

        &__messages{
          @include set_message();
        }
      }

      &__favorite, &__draft{

        &__title{
          height: 60px;
          font-size: 22px;
          line-height: 60px;
          text-align: center;
          border-bottom: solid 1px $border-color;
        }
      }
    }
  }
}