.product-overview
  .product-overview__iamge
    ピクチャ
  .product-overview__name
    商品サンプル
  .product-overview__info
    .product-overview__info__price
      ¥3,000
      %div (税込み)
    .product-overview__info__favorites
      評価
        