.product-overview
  .product-overview__image
    ピクチャ
  .product-overview__name
    商品サンプル
  .product-overview__info
    .product-overview__info__price
      ¥3,000
      .product-overview__info__price__tax
        (税込)
    .product-overview__info__favorites
      = icon('fas','star')
      0
              