.user-products__items
  .user-products__items__title
    = product.name
  .user-products__items__box
    .user-products__items__box__edit
      =link_to "編集", edit_product_path(1), class: "user-products__items__box__edit__btn"
    .user-products__items__box__destroy
      =link_to "削除", "#", class: "user-products__items__box__destroy__btn"