.simple-header
  =render "templates/logo-header"
.password-page
  .password-page__main
    .password-page__main__white
      .password-page__main__white--top
        %h2 パスワードをお忘れの方
      .password-page__main__white--main
        =form_with url: "#", method: :post, class: 'products-new__contents__form' do |f|
          .field
            %h3 メールアドレス
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"ご登録されたメールアドレス",class:"input__default"
            %br
            %i ご登録されたメールアドレスにパスワード再設定のご案内
            %br 
            %i が送信されます。
          .actions
            = f.submit "送信する",class:"send-btn"
  .simple-footer
    =render "templates/logo-footer"
