.search-header{
  width: 100%;
  height: 120px;
  padding: 15px 120px;

  &__upper{
    width: 100%;
    display: flex;

    &__logo{
      margin-right: 30px;
    }

    &__form{
      width: calc(100% - 170px);
      padding-top: 5px;

      &__field{
        display: flex;

        &__input{

          width: calc(100% - 30px); 

          &__content{
           width: 100%;
            height: 30px;
          }
        }

        &__search{       
          
          &__box{
            width: 30px;
            height: 30px;
            background-color: $top-color;  
            position: relative;

            &__icon{ 
              position: absolute;
              top: 5px;
              left: 5px;
            }
          }

          &__btn{
            display: none;
          }       
        }
      }
    }   
  }

  &__lower{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 15px;

    &__products{
      display: flex ;
    
      &__categories{
        margin-right: 20px;
        z-index: 1;
        position: relative;

        &__lists{
          position: absolute;
          top:18px; 
          &--lv1{         
            display: none;

            &__content{
              @include set_category_list_contents();
              position: relative;

              &--link{
                @include set_category_link_decoration()
              }
              &--lv2{ 
                display: none;      
                @include set_category_list_position();

                
                &__content{
                  @include set_category_list_contents();
                  position: relative;

                  &--link{
                    @include set_category_link_decoration();
                  }

                  &--lv3{ 
                    display: none;
                    @include set_category_list_position();      
    
                    &__content{
                      @include set_category_list_contents();

                      &--link{
                        @include set_category_link_decoration();
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &__user{
      display: flex ;

      &__login{
        margin-right: 20px;
      }
    }
  }
}