.simple-header
  =render "templates/logo-header"
.account__login__page
  .login__main
    .login__main__white
      .login__main__white--top
        %h2 アカウントをお持ちでない方はこちら
        .login__main__white--top__btn
          =link_to "新規会員登録", "#", class:"sign-up-btn"
          -# = render "devise/shared/link-signup"
      .login__main__white--main
        =form_with url: "#", method: :post, class: 'products-new__contents__form' do |f|
          .field
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder:" メールアカウント", class:"input__default"
          .field
            = f.password_field :password, autocomplete: "current-password", placeholder:" パスワード", class:"input__default"
          .actions
            = f.submit "ログイン", class:"btn"
          .login__main__white--main__btn
            -# = render "devise/shared/link-password"

.simple-footer
  =render "templates/logo-footer"
