.account__sign-up__page2
  .signup2__header
    =render 'devise/registrations/logo-header'
  .signup2__main
    .signup2__main--white
      .signup2__main--white__top
        %h1
          会員登録完了
      .signup2__main--white__main
        %h2
          ありがとうございます。
          %br
          会員登録が完了しました。
          %br
        .actions
          =link_to "フリマをはじめる", "#", class:"btn"

  .signup2__footer
    =render 'devise/registrations/logo-footer'