
// フッター部分のスタイル定義
.down-footer{
  &__download{
    width: 100%;
    position: relative;
    text-align: center;

    &__image{
      @include set_toppage_box(100%, 350px);
      vertical-align: bottom;
      object-fit: cover;
    }

    &__content{
      position: absolute;
      @include set_position_box(80px,380px);

      &__title{
        @include set_toppage_title(25px);
        margin-bottom: 10px;
      }

      @include set_toppage_subtitle(35px);

      &__icons{
        &__apple{
          margin-bottom: 15px;
        }
      }
    }
  }

  &__reference{
    background-color: #222222;
    color: #FFFFFF;
    padding: 60px 150px;

    &__contents{
      @include set_boxes_to_horizontal(space-around);

      &__about, &__lists, &__help{
        text-align: center;

        &__title{
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 20px;
        }

        & li{
          margin-bottom: 10px;
        }
        &--link{
          color: #FFFFFF;
          font-size: 12px;
          text-decoration: none;
        }
      }

    }
    &__logo{
      @include set_boxes_to_horizontal(center);
      font-size: 14px;
      text-align: center;
    }
  
  }
}

