.header
  = link_to "#/#", class: "header__Btn" do
    = image_tag "logo.png", size: "185x49", class:"header__btn__img"
    
.body
  .content
    .content__title
      購入が完了しました！
    .content__message
      購入完了しました。出品者の発送通知をお待ちください。
    .content__home
      .content__home__btn
        =link_to "/", class: "content__home__btn__link" do
          ホームへ
.footer
  .footer__linls
    %ul
      %li プライバシーポリシー
      %li フリマ利用規約
      %li 特定商取引に関する表記
  .footer__logo
    =image_tag "logo-white.png", size:"160x65", class:"footer__logo__img"
  .footer__text
    ©Furima, inc
