.simple-header
  = render partial: 'logo-header'    
.body
  .content
    .content__title
      購入が完了しました！
    .content__message
      購入完了しました。出品者の発送通知をお待ちください。
    .content__home
      .content__home__btn
        =link_to "/", class: "content__home__btn__link" do
          ホームへ
.simple-footer
  = render partial: 'logo-footer'