.password-page{
  background-color: #f5f5f5;
  height: 100vh;
  min-width: 100vh;
  position: relative;
  &__main{
    @include position--center();
    &__white{
      background-color: white;
      @include box-size(480px,400px);
      &--top{
        height: 80px;
        border-bottom: 1px solid;
        border-color: #f5f5f5;
        h2{
          text-align: center;
          line-height: 80px;
          font-size: 17px;
          font-weight: 600;
        }
      }
      &--main{
        padding-top: 30px;
        @include position--center();
        .field{
          h3{
            font-weight: 550;
            margin-top: 7px;
          }
          .input__default{
            @include box-size(365px,40px);
            margin: 10px 0px;
          }
          i{
            font-size: 14px;
            color: gray;
          }
        }
        .actions{
          margin-top: 25px;
          .send-btn{
            background-color: #ea352d;
            border-color: #ea352d;
            color: white;
            @include box-size(365px,50px);
            border-radius: 5px;
          }
        }
      }
    }
  }
}