.address-frame {
  display: block;
  border: 1px solid $textColor;
  border-radius: 4px 4px 4px 4px;
  width: 30%;
  height: 43px;
  padding-left: 10px;
}
.address-flex {
  @include titleFlex;
}
.addresses-text {
  @include title;
}
.addresses-alert {
  @include require
}
.addresses-any {
  background-color: #bfbfbf;
  color: white;
  margin-left: 8px;
  width: 32px;
  padding: 0 4px 0;
  font-size: 12px;
  font-weight: bold;
  height: 16px;
  line-height: 16px;
  border-radius: 4px 4px 4px 4px;
}
.address-submit {
  background-color: rgb(255, 2, 17);
  display: block;
  border: 1px solid $textColor;
  border-radius: 4px 4px 4px 4px;
  width: 30%;
  height: 43px;
  padding-left: 10px;
  color: white;
}