.simple-header
  =render 'templates/logo-header'
.products-create-body
  .products-create-body__content
    .products-create-body__content__title
      出品が完了しました！
    .products-create-body__content__message
      あなたが出品した商品は「出品した商品一覧」からいつでも見ることが出来ます。
    .products-create-body__content__home
      .products-create-body__content__home__btn
        =link_to "/", class: "products-create-body__content__home__btn__link" do
          ホームへ
.simple-footer
  =render 'templates/logo-footer'