= render 'templates/search-header'

.detail
  .detail__product
    .detail__product__name
      test
    .detail__product__picts
      .detail__product__picts__main
        メインピクチャ
      .detail__product__picts__sub
        サブピクチャ1
        サブピクチャ2
        サブピクチャ3
        サブピクチャ4


= render 'templates/download-footer'