= render 'templates/search-header'

.detail
  .detail__product
    .detail__product__name
      test
    .detail__product__picts
      .detail__product__picts__main
        メインピクチャ
      %ul.detail__product__picts__subs
        %li.detail__product__picts__subs__li
          サブピクチャ1
        %li.detail__product__picts__subs__li
          サブピクチャ2
        %li.detail__product__picts__subs__li
          サブピクチャ3
        %li.detail__product__picts__subs__li
          サブピクチャ4
    .detail__product__price
      ¥30,000
      (税込)送料込み


= render 'templates/download-footer'