.account__login__page{
  background-color: #f5f5f5;
  min-height: 100vh;
  position: relative;
  padding-bottom: 128px;
  .login-header{
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    .img{
      height: 50px;
      display: flex;
    }
  }
  .main{
    display: flex;
    justify-content: center;
    .white-body{
      background-color: white;
      width: 480px;
      height: 500px;
      .body-top{
        height: 120px;
        border-bottom: 1px solid;
        border-color: #f5f5f5;
        h2{
          text-align: center;
          font-size: 14px;
          padding-top: 20px;
        }
        .btn-signup{
          height: 40px;
          width: 300px;
          background-color: #0099e8;
          margin-top: 20px;
          text-align: center;
          margin-left: 90px;
          
          .sign-up-btn{
            text-decoration: none;
            color: white;
            line-height: 40px;
          }
        }
      }
      .body-main{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        .input-default{
          height: 40px;
          width: 420px;
          margin-bottom: 35px;
        }
        .actions{
          display: flex;
          justify-content: center;
          .btn{
            background-color: #ea352d;
            border-color: #ea352d;
            color: white;
            width: 420px;
            height: 50px;
          }
        }
        .btn-password{
          margin-top: 25px;
          .password-btn{
            color: #0099e8;
            text-decoration: none;
          }
        }
      }
    }
  }
  .login-footer{
    position: absolute;
    bottom: 0px;
    background-color: #f5f5f5;
    height: 200px;
    width: 100vw;
    text-align: center;
    
    .img{
      margin-top: 60px;
      height: 55px;
    }
    p4{
      font-size: 16px;
      margin-left: 25px;
      color: gray;
    }

  }
}