.account__sign-up__page{
  background-color: #f5f5f5;
  min-height: 100vh;
  position: relative;
  padding-bottom: 200px;
  .signup-header{
    height: 128px;
    align-items: center;
    @include boxcenter();
    .img{
      height: 50px;
      display: flex;
    }
  }
  .signup-main{
    @include boxcenter();
    .white-body{
      @include boxsize(700px,auto)
      background-color: white;
      .body-top{
        border-bottom: 1px solid;
        border-color: whitesmoke;
        height: 100px;
        line-height: 100px;
        text-align: center;
        h1{
          font-size: 23px;
          font-weight: 550;
        }
      }
      .body-main{
        @include boxcenter();
        .member-infomation{
          padding-top: 30px;
          .field{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-bottom: 20px;
            i{
            background-color: #ea352d;
            border: 1px solid;
            border-color: #ea352d;
            padding: 2px;
            font-size: 13px;
            color: white;
            border-radius: 3px;
            margin: 5px;
            }
            .class_note{
              color: gray;
              font-size: 13px;
            }
            .input-default{
              margin-top: 10px;
              @include boxsize(350px,40px)
              border-radius: 3px;
            }
            .input-default-password{
              margin-top: 10px;
              @include boxsize(350px,40px)
              margin-bottom: 5px;
              border-radius: 3px;
            }
          }
        }
        .personal-infomation{
          h3{
            font-weight: 600;
            margin-bottom: 5px;
          }
          p{
            font-size: 15px;
            margin-bottom: 10px;
          }
          .field{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-bottom: 20px;
            i{
              background-color: #ea352d;
              border: 1px solid;
              border-color: #ea352d;
              padding: 2px;
              font-size: 13px;
              color: white;
              border-radius: 3px;
              margin: 5px;
            }
            .input-default{
              margin-top: 10px;
              @include boxsize(170px,40px)
              border-radius: 3px;
            }
            .year{
              @include boxsize(90px,40px)
              margin: 4px;
            }
            .month{
              @include boxsize(90px,40px)
              margin: 4px;
            }
            .day{
              @include boxsize(90px,40px)
              margin: 4px;
            }
            .class_note{
              color: gray;
              font-size: 13px;
            }
          }
        }
        .actions{
          .next-btn{
            background-color: #ea352d;
            border-color: #ea352d;
            border-radius: 5px;
            color: white;
            @include boxsize(355px,50px)
            margin: 30px 0px;
          }
        }
      }
    }
  }
  .signup-footer{
    position: absolute;
    bottom: 0px;
    background-color: #f5f5f5;
    @include boxsize(100vw,200px)
    text-align: center;
    .img{
      margin-top: 60px;
      height: 55px;
    }
    p4{
      font-size: 16px;
      margin-left: 25px;
      color: gray;
    }
  }
}