.account__sign-up__page2{
  background-color: #f5f5f5;
  height: 100vh;
  .signup2__header{
    @include boxcenter();
    height: 128px;
    align-items: center;
    .img{
      height: 50px;
      display: flex;
      margin: 515px;
    }
  }
  .signup2__main{
    @include boxcenter();
    &--white{
      @include boxsize(480px,400px);
      background-color: white;
      &__top{
        border-bottom: 1px solid;
        border-color: whitesmoke;
        height: 80px;
        text-align: center;
        h1{
          line-height: 80px;
          font-size: 23px;
          font-weight: 550;
        }
      }
      &__main{
        h2{
          text-align: center;
          padding-top: 60px;
          font-size: 18px;
          line-height: 35px;
        }
        .actions{
          @include boxsize(300px,45px);
          margin-top: 70px;
          border: 1px solid;
          border-color: #ea352d;
          background-color: #ea352d;
          border-radius: 5px;
          text-align: center;
          margin-left: 77px;
          .btn{
            color: white;
            text-decoration: none;
            line-height: 45px;
          }
        }
      }
    }
  }
  .signup2__footer{
    @include boxsize(100vw,200px);
    background-color: #f5f5f5;
    text-align: center;
    .img{
      margin-top: 60px;
      height: 55px;
    }
    p4{
      font-size: 16px;
      margin-left: 25px;
      color: gray;
    }
  }
}